<!DOCTYPE html>
<html>
  <head>
    <title>PickMore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store" >

    <div id="banner" >
      <%-#<%= image_tag("logo.png") %>
      <%= @page_title || "Pick More" %>
      <% if current_user %>
        <div id = "button"><%= button_to 'Log out', destroy_user_session_path, method: :delete %></div>
        <%= current_user.email %>
      <% end %>  
    </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


    <div id="columns" >
      <div id="side" >

        <div id = "cart">
          <%= render @cart if @cart %>
        </div>

        <a href="<%= store_path %>" id="home_link">Home</a><br />
        <a href="" >Questions</a><br />
        <a href="" >News</a><br />
        <a href="" >Contact</a><br />
      </div>
    <div id="main" >
      
      

      <%= yield %>
    </div>
    </div>
  </body>

</html>

